

body {
  font-size: 16px;
  line-height: 1.5;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(42, 42, 48);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0;  
}

h1 {
  font-size: 2em;  
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(84, 84, 87);
}

header {
  background-color: rgb(50, 50, 52);
  border-bottom: 1px solid black;

  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  position: fixed;
  top: 0;

}

legend {
  font-size: 0.8em;
}

nav {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 3em;
}

button {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02857em;
  text-transform: uppercase;  
  padding: 6px 8px;
  min-width: 64px;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
    
  color: rgb(249, 249, 250);
  
  background-color: inherit;
  border: 2px solid transparent;
  border-radius: 4px;
}

button[primary]{
  background-color: rgb(63, 63, 67);
  border-color: rgb(63, 63, 67);
}

button:hover, input:hover {
  background-color: rgb(73, 73, 76);
  border-color: rgb(73, 73, 76);
}

button:active, input:active {
  background-color: rgb(84, 84, 88);

  border-color: rgb(73, 73, 76);
  box-shadow: 1px 1px rgb(32, 69, 109), -1px -1px rgb(32, 69, 109);
}

button:focus, input:focus {  
  border-color: rgb(10, 132, 255);
  box-shadow: 1px 1px rgb(32, 69, 109), -1px -1px rgb(32, 69, 109);
}

ul {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  list-style: none;
}

ul li {
  padding: 10px;
  background-color: rgb(43, 43, 48);  
}

ul li:nth-child(even) {
  background-color: rgb(32,32,35);
}

ul li:hover { 
  background-color: rgb(40, 58, 79);
}

ul li:focus, ul li:active { 
  background-color: rgb(10, 132, 255);
}

svg-icon {
  display: inline-block;
  margin: 0.125em;
  line-height: 1.375em;
  height: 1.375em;
  width: 1.375em;
  fill: currentColor;
}

button.icon {
  padding: 6px;
  min-width: unset;
  border-radius: 2em;
}

